@import url('https://fonts.googleapis.com/css?family=Cagliostro&display=swap');

body {
  font-family: 'Cagliostro', sans-serif;
}

section {
  margin: 3% 0%;
}

section h1 {
  text-align: center;
}

.nav {
  padding: 0rem 1rem;
  justify-content: center;
}

.nav-link {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2;
}

.nav-link:hover {
  color: #225588;
}

.is__current {
  border-bottom: 1px solid black;
}

.jv__header {
  padding: 1rem 0rem;
}

.jv__header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index:99;
  background-color: white;
}

.main-container {
  padding: 3rem 0rem;
}

.my__section {
  padding: 1rem 0rem;
}

.my__name {
  font-size: 3.5rem;
  text-align: left;
}

.my__role {
  font-size: 2rem;
}

.basic__links {
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  color: black;
}

.my__picture-container {
  display: flex;
  justify-content: center;
}

.my__picture {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(34, 85, 136, 0.1);
  border-width: 20px;
  /* animation: mywidth 3s infinite; */
}

/* @keyframes mywidth {
    0%   {border-width: 0px;}
    25%  {border-width: 10px;}
    50%  {border-width: 5px;}
    75%  {border-width: 10px;}
    100% {border-width: 0px;}
} */

.my__picture img{
  border-radius: 50%;
  width: 250px;
  border: 20px solid rgba(34, 85, 136, 0.3); 
}

.img__cartoon {
  width: 100%;
  height: 100%;
}

.about__me{
  text-align: center;
  padding-top: 10%; 
}

.details__box {
  padding: 1.5rem;
  box-shadow: 0px 10px 20px 4px rgba(34, 85, 136, 0.1);
  margin: 1rem 0rem;
  border: 1px solid rgba(34, 85, 136, 0.1);
}

.project {
  width: 33.33%;
  padding: 5%;
  color: white;
  border: 1px solid white;
}

.technology {
  padding: 1%;
  border: 2px solid white;
  margin: 1%;
  border-radius: 18%;
  display: inline-block;
}

.contact__card {
  display: flex;
  width: 29.33%;
  justify-content: center;
  text-align: center;
  padding: 4% 0%;
  margin: 0% 2%;
  border: 1px solid rgba(34, 85, 136, 0.1);
  box-shadow: 5px 10px 10px 4px rgba(34, 85, 136, 0.1);
}

.contact__card a {
  color: black;
}

.contact__card a:hover {
  text-decoration: none;
}

.contact__card-icon {
  margin: 3% auto;
  padding: 2rem 1rem;
  border: 2px solid #225588;
  border-radius: 50%;
  width: 120px;
  color: black;
  font-size: 2rem;
  color: #225588;
}

.contact__card h3 {
  padding-top: 2%; 
}

footer {
  margin-top: 5%;
}

footer p {
  float: right;
  font-size: 0.8rem;
}

footer ul {
  display: inline;
}

footer ul li {
  list-style: none;
  display: inline;
  margin: 0 5px;;
}

footer ul li a{
  color: black;
  font-size: 1.2rem;
}

.skill__card {
  width: 25%;
  padding: 5%;
  display: inline-block;
  text-align: center;
  align-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top:2%; 
}

.skill__card-img {
  height: 100px;
}

.skill__card-icon {
  font-size: 67px;
}

.skill__card h6 {
  margin-top: 2rem; 
}

@media only screen and (max-width: 767px) { 
  .contact__card {
    width: 100%;
  }
  .skill__card {
    width: 50%;
  }
  .project {
    width: 100%;
    margin: 0% 3%;
  }
  .my__details, .my__name {
    text-align: center;
  }
  #home {
    margin-top: 0%; 
  }
  .contact__card {
    margin-top: 5%; 
  }
}
